In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [39]:
# load both files

dose_response_df = pd.read_csv('../data/v17.3_fitted_dose_response_binary.csv', index_col='IC50_RESULTS_ID')
dose_response_df.head()

wes_scored = pd.read_csv("../data/wes_scored_transposed.tsv",sep = "\t")
#wes_scored = pd.read_csv("../data/wes_scored_non_binary_transposed.tsv",sep = "\t", index_col='COSMIC_ID')
wes_scored.set_index("Unnamed: 0",drop= True ,inplace=True)
wes_scored.index.names = ['COSMIC_ID']
wes_scored.head()

,1,2,9,10,12,13,14,15,16,18,...,101060321,101927546,101927722,101928638,102724473,102724928,105375355,105378803,107403068,109731405
COSMIC_ID,,,,,,,,,,,,,,,,,,,,,
907268,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
907269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
907270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
907271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
907272,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
dose_response_df.count()

DATASET_VERSION        224202
COSMIC_ID              224202
CELL_LINE_NAME         224202
DRUG_ID                224202
DRUG_NAME              224202
PUTATIVE_TARGET        224202
MAX_CONC_MICROMOLAR    224202
MIN_CONC_MICROMOLAR    224202
LN_IC50                224202
AUC                    224202
RMSE                   224202
Z_SCORE                224202
BINARY_RESPONSE        224202
dtype: int64

In [42]:
#dose_response_df['BINARY_RESP'] = dose_response_df['BINARY_RESP'].fillna('NA')
dose_response_df.BINARY_RESPONSE.unique()

#dose_response_df = dose_response_df[dose_response_df['BINARY_RESP'] != 'NA']

array(['R', 'S'], dtype=object)

In [43]:
dose_response_df.head()

,DATASET_VERSION,COSMIC_ID,CELL_LINE_NAME,DRUG_ID,DRUG_NAME,PUTATIVE_TARGET,MAX_CONC_MICROMOLAR,MIN_CONC_MICROMOLAR,LN_IC50,AUC,RMSE,Z_SCORE,BINARY_RESPONSE
IC50_RESULTS_ID,,,,,,,,,,,,,
1,17.3,683665,MC-CAR,1,Erlotinib,EGFR,2.0,0.007812,2.453524,0.982610,0.021678,-0.015505,R
1482,17.3,684055,ES3,1,Erlotinib,EGFR,2.0,0.007812,3.376592,0.985169,0.029915,0.779999,R
1791,17.3,684057,ES5,1,Erlotinib,EGFR,2.0,0.007812,3.614664,0.983207,0.031201,0.985170,R
2177,17.3,684059,ES7,1,Erlotinib,EGFR,2.0,0.007812,3.223394,0.984574,0.093857,0.647971,R
2754,17.3,684062,EW-11,1,Erlotinib,EGFR,2.0,0.007812,2.486405,0.946034,0.087280,0.012832,R

In [53]:
cna_scored = pd.read_csv("../data/cna_scored_transposed.tsv",sep = "\t", index_col='COSMIC_ID')
cna_scored.head()

,1,2,9,10,12,13,14,15,16,18,...,107133486,107133502,107133524,107161145,107985535,107986809,107987337,107987341,109731405,112441434
COSMIC_ID,,,,,,,,,,,,,,,,,,,,,
1240121,0.0,0.000000,-1.0,-1.0,0.000000,1.584963,0.0,0.0,0.000000,0.0,...,0.000000,-4.32,0.0,0.000000,0.0,0.000000,-4.32,-4.32,0.000000,0.000000
1240122,0.0,0.584963,0.0,0.0,0.000000,1.000000,0.0,0.0,0.584963,0.0,...,0.584963,0.00,0.0,0.584963,0.0,0.584963,-4.32,-4.32,0.584963,0.584963
1240123,0.0,0.000000,0.0,0.0,0.000000,0.321928,0.0,0.0,0.321928,0.0,...,-0.415037,-4.32,0.0,0.000000,0.0,0.000000,-4.32,-4.32,0.321928,-0.415037
1240124,0.0,0.584963,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,-4.32,0.0,0.000000,0.0,0.000000,-4.32,-4.32,0.000000,0.000000
1240125,0.0,0.000000,0.0,0.0,-0.415037,0.000000,0.0,0.0,-1.000000,0.0,...,-0.415037,-2.00,0.0,0.321928,0.0,0.321928,-2.00,-2.00,-1.000000,-0.415037

In [48]:

def generate_wes_response(drug_id, drug_name):
    
    dose_by_drug_df = dose_response_df[dose_response_df.DRUG_ID == drug_id]
    dose_response_trimmed_df = dose_by_drug_df[['COSMIC_ID', 'DRUG_ID', 'LN_IC50', 'BINARY_RESPONSE']]
    
    joined_df = pd.merge(wes_scored, dose_response_trimmed_df, on='COSMIC_ID')
    file_name = "../data/wes_ic50_"+ drug_name + "_binary_resp.tsv"
    joined_df.to_csv(file_name,sep = "\t")

In [46]:
def generate_wes_response_all():
    
    dose_response_trimmed_df = dose_response_df[['COSMIC_ID', 'DRUG_ID', 'LN_IC50', 'BINARY_RESPONSE']]
    
    joined_df = pd.merge(wes_scored, dose_response_trimmed_df, on='COSMIC_ID')
    file_name = "../data/wes_ic50_all.tsv"
    joined_df.to_csv(file_name,sep = "\t")

In [54]:
def generate_cna_response(drug_id, drug_name):
    
    dose_by_drug_df = dose_response_df[dose_response_df.DRUG_ID == drug_id]
    dose_response_trimmed_df = dose_by_drug_df[['COSMIC_ID', 'DRUG_ID', 'LN_IC50', 'BINARY_RESPONSE']]
    
    joined_df = pd.merge(cna_scored, dose_response_trimmed_df, on='COSMIC_ID')
    file_name = "../data/cna_ic50_"+ drug_name + "_binary_resp.tsv"
    joined_df.to_csv(file_name,sep = "\t")

In [49]:
drug_df = pd.read_csv('../data/Screened_Compounds.csv', index_col='DRUG_ID')

In [55]:
for index, row in drug_df.head(10).iterrows():
    #generate_wes_response(index, row["DRUG_NAME"])
    generate_cna_response(index, row["DRUG_NAME"])

In [47]:
generate_wes_response_all()