In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
# load both files

dose_response_df = pd.read_csv('../data/v17.3_fitted_dose_response.csv', index_col='IC50_RESULTS_ID')
dose_response_df.head()

wes_scored = pd.read_csv("../data/wes_scored_transposed.tsv",sep = "\t")
#wes_scored = pd.read_csv("../data/wes_scored_non_binary_transposed.tsv",sep = "\t", index_col='COSMIC_ID')
wes_scored.set_index("Unnamed: 0",drop= True ,inplace=True)
wes_scored.index.names = ['COSMIC_ID']
wes_scored.head()

,1,2,9,10,12,13,14,15,16,18,...,101060321,101927546,101927722,101928638,102724473,102724928,105375355,105378803,107403068,109731405
COSMIC_ID,,,,,,,,,,,,,,,,,,,,,
907268,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
907269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
907270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
907271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
907272,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
cna_scored = pd.read_csv("../data/cna_scored_transposed.tsv",sep = "\t", index_col='COSMIC_ID')
cna_scored.head()

,1,2,9,10,12,13,14,15,16,18,...,107133486,107133502,107133524,107161145,107985535,107986809,107987337,107987341,109731405,112441434
COSMIC_ID,,,,,,,,,,,,,,,,,,,,,
1240121,0.0,0.000000,-1.0,-1.0,0.000000,1.584963,0.0,0.0,0.000000,0.0,...,0.000000,-4.32,0.0,0.000000,0.0,0.000000,-4.32,-4.32,0.000000,0.000000
1240122,0.0,0.584963,0.0,0.0,0.000000,1.000000,0.0,0.0,0.584963,0.0,...,0.584963,0.00,0.0,0.584963,0.0,0.584963,-4.32,-4.32,0.584963,0.584963
1240123,0.0,0.000000,0.0,0.0,0.000000,0.321928,0.0,0.0,0.321928,0.0,...,-0.415037,-4.32,0.0,0.000000,0.0,0.000000,-4.32,-4.32,0.321928,-0.415037
1240124,0.0,0.584963,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,...,0.000000,-4.32,0.0,0.000000,0.0,0.000000,-4.32,-4.32,0.000000,0.000000
1240125,0.0,0.000000,0.0,0.0,-0.415037,0.000000,0.0,0.0,-1.000000,0.0,...,-0.415037,-2.00,0.0,0.321928,0.0,0.321928,-2.00,-2.00,-1.000000,-0.415037

In [6]:

def generate_wes_response(drug_id, drug_name):
    
    dose_by_drug_df = dose_response_df[dose_response_df.DRUG_ID == drug_id]
    dose_response_trimmed_df = dose_by_drug_df[['COSMIC_ID', 'DRUG_ID', 'LN_IC50']]
    
    joined_df = pd.merge(wes_scored, dose_response_trimmed_df, on='COSMIC_ID')
    file_name = "../data/wes_ic50_"+ drug_name + ".tsv"
    joined_df.to_csv(file_name,sep = "\t")

In [5]:
def generate_cna_response(drug_id, drug_name):
    
    dose_by_drug_df = dose_response_df[dose_response_df.DRUG_ID == drug_id]
    dose_response_trimmed_df = dose_by_drug_df[['COSMIC_ID', 'DRUG_ID', 'LN_IC50']]
    
    joined_df = pd.merge(cna_scored, dose_response_trimmed_df, on='COSMIC_ID')
    file_name = "../data/cna_ic50_"+ drug_name + ".tsv"
    joined_df.to_csv(file_name,sep = "\t")

In [7]:
drug_df = pd.read_csv('../data/Screened_Compounds.csv', index_col='DRUG_ID')

In [10]:
for index, row in drug_df.head(10).iterrows():
    generate_wes_response(index, row["DRUG_NAME"])
    #generate_cna_response(index, row["DRUG_NAME"])