In [12]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split


# Install TensorFlow

import tensorflow as tf

In [2]:
wes_efgr = pd.read_csv("../data/wes_ic50_Erlotinib_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")
wes_pacl = pd.read_csv("../data/wes_ic50_Paclitaxel_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")
wes_suni = pd.read_csv("../data/wes_ic50_Sunitinib_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")
wes_sora = pd.read_csv("../data/wes_ic50_Sorafenib_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")
wes_rapa = pd.read_csv("../data/wes_ic50_Rapamycin_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")

In [82]:
wes_multi_drug = pd.concat([wes_efgr, wes_pacl, wes_suni, wes_sora,wes_rapa], axis=0)

In [4]:
wes_efgr.describe()

,Unnamed: 0,1,2,9,10,12,13,14,15,16,...,101927722,101928638,102724473,102724928,105375355,105378803,107403068,109731405,DRUG_ID,LN_IC50
count,371.000000,371.000000,371.000000,371.000000,371.000000,371.00000,371.000000,371.000000,371.000000,371.000000,...,371.0,371.000000,371.000000,371.000000,371.000000,371.000000,371.000000,371.000000,371.0,371.000000
mean,185.000000,0.024259,0.032345,0.008086,0.021563,0.03504,0.002695,0.008086,0.010782,0.048518,...,0.0,0.008086,0.005391,0.016173,0.002695,0.021563,0.013477,0.029650,1.0,2.464419
std,107.242715,0.154059,0.177154,0.089680,0.145449,0.18413,0.051917,0.089680,0.103413,0.215147,...,0.0,0.089680,0.073323,0.126309,0.051917,0.145449,0.115462,0.169848,0.0,1.160602
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,-3.132525
25%,92.500000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,2.044453
50%,185.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,2.661822
75%,277.500000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,3.192688
max,370.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,5.244164

In [42]:
wes_efgr.head()

,Unnamed: 0,1,2,9,10,12,13,14,15,16,...,101928638,102724473,102724928,105375355,105378803,107403068,109731405,DRUG_ID,LN_IC50,BINARY_RESPONSE
COSMIC_ID,,,,,,,,,,,,,,,,,,,,,
907268,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.726708,R
907269,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.175124,R
907270,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.332820,R
907271,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.894932,R
907273,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.717920,R

In [ ]:
wes_multi_drug.count()

In [13]:
# split data
#train_data_set, dev_data_set, train_labels, dev_labels = train_test_split(wes_multi_drug, wes_multi_drug['BINARY_RESPONSE'], test_size=0.20, random_state=0)

In [83]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(units=128, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(10, activation='softmax')
])

model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
#model.fit(train_data_set, train_labels, epochs=5)

In [47]:
wes_multi_drug.head()

,Unnamed: 0,1,2,9,10,12,13,14,15,16,...,101928638,102724473,102724928,105375355,105378803,107403068,109731405,DRUG_ID,LN_IC50,BINARY_RESPONSE
COSMIC_ID,,,,,,,,,,,,,,,,,,,,,
907268,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.726708,0
907269,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.175124,0
907270,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.332820,0
907271,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.894932,0
907273,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.717920,0

In [84]:
wes_multi_drug.loc[(wes_multi_drug.BINARY_RESPONSE == 'S'),'BINARY_RESPONSE'] = 1
wes_multi_drug.loc[(wes_multi_drug.BINARY_RESPONSE == 'R'),'BINARY_RESPONSE'] = 0

wes_multi_drug = wes_multi_drug.drop('LN_IC50', axis=1)

In [85]:
target = wes_multi_drug.pop('BINARY_RESPONSE')

In [72]:

wes_multi_drug.head()

,Unnamed: 0,1,2,9,10,12,13,14,15,16,...,101927546,101927722,101928638,102724473,102724928,105375355,105378803,107403068,109731405,DRUG_ID
COSMIC_ID,,,,,,,,,,,,,,,,,,,,,
907268,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
907269,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
907270,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
907271,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
907273,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [86]:
dataset = tf.data.Dataset.from_tensor_slices((wes_multi_drug.values, target.values))

In [ ]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

In [87]:
train_dataset = dataset.shuffle(len(wes_multi_drug)).batch(1)

In [88]:
model.fit(train_dataset, epochs=15, steps_per_epoch=10)

Epoch 1/15
10/10 [==============================] - 8s 751ms/step - loss: 2.4582 - acc: 0.7000
Epoch 2/15
10/10 [==============================] - 0s 21ms/step - loss: 2.8128 - acc: 0.8000
Epoch 3/15
10/10 [==============================] - 0s 22ms/step - loss: 0.0539 - acc: 1.0000
Epoch 4/15
10/10 [==============================] - 0s 20ms/step - loss: 0.0826 - acc: 1.0000
Epoch 5/15
10/10 [==============================] - 0s 21ms/step - loss: 0.0238 - acc: 1.0000
Epoch 6/15
10/10 [==============================] - 0s 21ms/step - loss: 1.6118 - acc: 0.9000
Epoch 7/15
10/10 [==============================] - 0s 22ms/step - loss: 1.6120 - acc: 0.9000
Epoch 8/15
10/10 [==============================] - 0s 21ms/step - loss: 3.2239 - acc: 0.8000
Epoch 9/15
10/10 [==============================] - 0s 21ms/step - loss: 3.7685 - acc: 0.7000
Epoch 10/15
10/10 [==============================] - 0s 21ms/step - loss: 1.5815 - acc: 0.9000
Epoch 11/15
10/10 [==============================] - 0s 21ms/step - loss: 1.7250 - acc: 0.9000
Epoch 12/15
10/10 [==============================] - 0s 21ms/step - loss: 1.1467 - acc: 0.7000
Epoch 13/15
10/10 [==============================] - 0s 21ms/step - loss: 0.1195 - acc: 1.0000
Epoch 14/15
10/10 [==============================] - 0s 21ms/step - loss: 0.0068 - acc: 1.0000
Epoch 15/15
10/10 [==============================] - 0s 21ms/step - loss: 0.0014 - acc: 1.0000