In [3]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split


# Install TensorFlow

import tensorflow as tf
import tensorflow_hub as hub

In [4]:
wes_efgr = pd.read_csv("../data/wes_ic50_Erlotinib_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")
wes_pacl = pd.read_csv("../data/wes_ic50_Paclitaxel_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")
wes_suni = pd.read_csv("../data/wes_ic50_Sunitinib_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")
wes_sora = pd.read_csv("../data/wes_ic50_Sorafenib_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")
wes_rapa = pd.read_csv("../data/wes_ic50_Rapamycin_binary_resp.tsv",sep = "\t", index_col="COSMIC_ID")

In [5]:
wes_multi_drug = pd.concat([wes_efgr, wes_pacl, wes_suni, wes_sora,wes_rapa], axis=0)

In [4]:
wes_efgr.describe()

,Unnamed: 0,1,2,9,10,12,13,14,15,16,...,101927722,101928638,102724473,102724928,105375355,105378803,107403068,109731405,DRUG_ID,LN_IC50
count,371.000000,371.000000,371.000000,371.000000,371.000000,371.00000,371.000000,371.000000,371.000000,371.000000,...,371.0,371.000000,371.000000,371.000000,371.000000,371.000000,371.000000,371.000000,371.0,371.000000
mean,185.000000,0.024259,0.032345,0.008086,0.021563,0.03504,0.002695,0.008086,0.010782,0.048518,...,0.0,0.008086,0.005391,0.016173,0.002695,0.021563,0.013477,0.029650,1.0,2.464419
std,107.242715,0.154059,0.177154,0.089680,0.145449,0.18413,0.051917,0.089680,0.103413,0.215147,...,0.0,0.089680,0.073323,0.126309,0.051917,0.145449,0.115462,0.169848,0.0,1.160602
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,-3.132525
25%,92.500000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,2.044453
50%,185.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,2.661822
75%,277.500000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,3.192688
max,370.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,5.244164

In [42]:
wes_efgr.head()

,Unnamed: 0,1,2,9,10,12,13,14,15,16,...,101928638,102724473,102724928,105375355,105378803,107403068,109731405,DRUG_ID,LN_IC50,BINARY_RESPONSE
COSMIC_ID,,,,,,,,,,,,,,,,,,,,,
907268,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.726708,R
907269,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.175124,R
907270,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.332820,R
907271,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.894932,R
907273,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.717920,R

In [91]:
wes_multi_drug.count()

Unnamed: 0    1940
1             1940
2             1940
9             1940
10            1940
12            1940
13            1940
14            1940
15            1940
16            1940
18            1940
19            1940
20            1940
21            1940
22            1940
23            1940
24            1940
25            1940
27            1940
29            1940
30            1940
31            1940
32            1940
33            1940
34            1940
35            1940
36            1940
37            1940
38            1940
39            1940
              ...
100506658     1940
100506736     1940
100506742     1940
100506755     1940
100506888     1940
100507290     1940
100507436     1940
100507608     1940
100507650     1940
100526773     1940
100526835     1940
100528020     1940
100533177     1940
100533178     1940
100652748     1940
100652781     1940
100996331     1940
100996465     1940
101060200     1940
101060321     1940
101927546     1940
101927722     1940
101928638     1940
102724473     1940
102724928     1940
105375355     1940
105378803     1940
107403068     1940
109731405     1940
DRUG_ID       1940
Length: 18383, dtype: int64

In [7]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(18384,)),
  tf.keras.layers.Dense(units=128, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(10, activation='softmax')
])

model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
#model.fit(train_data_set, train_labels, epochs=5)

In [47]:
wes_multi_drug.head()

,Unnamed: 0,1,2,9,10,12,13,14,15,16,...,101928638,102724473,102724928,105375355,105378803,107403068,109731405,DRUG_ID,LN_IC50,BINARY_RESPONSE
COSMIC_ID,,,,,,,,,,,,,,,,,,,,,
907268,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.726708,0
907269,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.175124,0
907270,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,3.332820,0
907271,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.894932,0
907273,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.717920,0

In [8]:
wes_multi_drug.loc[(wes_multi_drug.BINARY_RESPONSE == 'S'),'BINARY_RESPONSE'] = 1
wes_multi_drug.loc[(wes_multi_drug.BINARY_RESPONSE == 'R'),'BINARY_RESPONSE'] = 0

wes_multi_drug = wes_multi_drug.drop('LN_IC50', axis=1)

In [9]:
# split data
train_data_set, dev_data_set, train_labels, dev_labels = train_test_split(wes_multi_drug, wes_multi_drug['BINARY_RESPONSE'], test_size=0.20, random_state=0)

In [85]:
#target = wes_multi_drug.pop('BINARY_RESPONSE')

In [10]:
train_dataset = tf.data.Dataset.from_tensor_slices((train_data_set.values, train_labels.values))

In [ ]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

In [11]:
train_dataset = train_dataset.shuffle(len(train_data_set)).batch(1)

In [16]:
model.fit(train_dataset, epochs=10, steps_per_epoch=90)

Train for 90 steps
Epoch 1/10
90/90 [==============================] - 1s 15ms/step - loss: 1.2138 - accuracy: 0.8000
Epoch 2/10
90/90 [==============================] - 1s 7ms/step - loss: 1.7346 - accuracy: 0.8778
Epoch 3/10
90/90 [==============================] - 1s 7ms/step - loss: 0.6334 - accuracy: 0.8667
Epoch 4/10
90/90 [==============================] - 1s 7ms/step - loss: 0.7109 - accuracy: 0.8333
Epoch 5/10
90/90 [==============================] - 1s 7ms/step - loss: 0.6363 - accuracy: 0.8444
Epoch 6/10
90/90 [==============================] - 1s 7ms/step - loss: 0.6483 - accuracy: 0.8889
Epoch 7/10
90/90 [==============================] - 1s 7ms/step - loss: 0.9348 - accuracy: 0.8000
Epoch 8/10
90/90 [==============================] - 1s 7ms/step - loss: 0.7096 - accuracy: 0.8556
Epoch 9/10
90/90 [==============================] - 1s 7ms/step - loss: 0.3771 - accuracy: 0.8778
Epoch 10/10
90/90 [==============================] - 1s 7ms/step - loss: 0.5178 - accuracy: 0.9000

In [12]:
test_dataset = tf.data.Dataset.from_tensor_slices((dev_data_set.values, dev_labels.values))
test_dataset = test_dataset.shuffle(len(dev_data_set)).batch(1)

In [17]:
model.evaluate(test_dataset, verbose=2, steps=len(dev_data_set))

388/388 - 1s - loss: 0.4117 - accuracy: 0.8866

[0.4116630472540849, 0.88659793]

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten (Flatten)            (None, 18384)             0
_________________________________________________________________
dense (Dense)                (None, 128)               2353280
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 10)                1290
=================================================================
Total params: 2,354,570
Trainable params: 2,354,570
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.save('wes_multi_model')

WARNING:tensorflow:From /Users/kbloom/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/ops/resource_variable_ops.py:1781: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: wes_multi_model/assets

In [130]:
new_model = tf.keras.models.load_model('wes_multi_model')

# Check its architecture
new_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_4 (Flatten)          (None, 18384)             0
_________________________________________________________________
dense_20 (Dense)             (None, 128)               2353280
_________________________________________________________________
dropout_9 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_21 (Dense)             (None, 10)                1290
=================================================================
Total params: 2,354,570
Trainable params: 2,354,570
Non-trainable params: 0
_________________________________________________________________

In [142]:
another_model = tf.keras.Sequential()
another_model.add(new_model)
#another_model.add(tf.keras.layers.Dense(16, activation='relu'))
#another_model.add(tf.keras.layers.Dense(1, activation='sigmoid'))


another_model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [143]:
another_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
sequential_9 (Sequential)    (None, 10)                2354570
=================================================================
Total params: 2,354,570
Trainable params: 2,354,570
Non-trainable params: 0
_________________________________________________________________

In [144]:
another_model.fit(train_dataset, epochs=10, steps_per_epoch=90)

Epoch 1/10

InvalidArgumentError: You must feed a value for placeholder tensor 'dense_21_target_1' with dtype int32 and shape [?,?]
	 [[{{node dense_21_target_1}}]]

In [20]:
hub_url = "wes_multi_model/"
embed = hub.KerasLayer(hub_url)

In [21]:
anotha_model = tf.keras.Sequential([
    embed,
    tf.keras.layers.Dense(16, activation="relu"),
    tf.keras.layers.Dense(1, activation="sigmoid"),
])

In [22]:
anotha_model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [23]:
anotha_model.fit(train_dataset, epochs=10, steps_per_epoch=90)

WARNING:tensorflow:Layer sequential_1 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

Train for 90 steps
Epoch 1/10
90/90 [==============================] - 1s 8ms/step - loss: 0.8286 - accuracy: 0.1222
Epoch 2/10
90/90 [==============================] - 0s 2ms/step - loss: 0.5861 - accuracy: 0.9111
Epoch 3/10
90/90 [==============================] - 0s 2ms/step - loss: 0.5045 - accuracy: 0.8333
Epoch 4/10
90/90 [==============================] - 0s 2ms/step - loss: 0.3646 - accuracy: 0.9333
Epoch 5/10
90/90 [==============================] - 0s 2ms/step - loss: 0.3554 - accuracy: 0.8889
Epoch 6/10
90/90 [==============================] - 0s 2ms/step - loss: 0.2823 - accuracy: 0.9333
Epoch 7/10
90/90 [==============================] - 0s 2ms/step - loss: 0.3910 - accuracy: 0.8556
Epoch 8/10
90/90 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.9000
Epoch 9/10
90/90 [==============================] - 0s 2ms/step - loss: 0.3039 - accuracy: 0.9111
Epoch 10/10
90/90 [==============================] - 0s 2ms/step - loss: 0.3165 - accuracy: 0.9000

In [24]:
anotha_model.evaluate(test_dataset, verbose=2, steps=len(dev_data_set))

388/388 - 1s - loss: 0.3364 - accuracy: 0.8918

[0.3364413761793031, 0.8917526]